<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../CSS/dashboard/dashboard.css">
</head>
<body>
    <navbar class="navb">
        <img src="../../slider.jpeg" width="50px"  height="40px">
        <div>
        <div class="dropdown">
            <button class="dropbtn">Exam Setup <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <div class="dropdown-content">
                <a href="Components/Login/teacherlogin.html">Course</a>
                <a href="Components/Login/studenlogin.html">Subject</a>
                <a href="Components/Login/adminlogin.html">Set Exam</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Exam Setup <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <div class="dropdown-content">
                <a href="Components/Login/teacherlogin.html">Course</a>
                <a href="Components/Login/studenlogin.html">Subject</a>
                <a href="Components/Login/adminlogin.html">Set Exam</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Exam Setup <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <div class="dropdown-content">
                <a href="Components/Login/teacherlogin.html">Course</a>
                <a href="Components/Login/studenlogin.html">Subject</a>
                <a href="Components/Login/adminlogin.html">Set Exam</a>
            </div>
        </div>
    </div>
        <h3>Logout</h3>
    </navbar>
    <sidebar>
       
</body>
</html>